html
    head 
        meta(charset='UTF-8')
        title Timothys Restaurant Selector
        link(rel='icon' href='images/hamburger-menu-button-flat-icon-transparent-background-182087461.jpeg')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Akronim&display=swap' rel='stylesheet')
        link(rel = "stylesheet" href='/css/home.css')
body 

    div 
        p Timothy's Restaurant Selector 
        div.links 
            a(href='http://localhost:3000/') Home 
            a(href='http://localhost:3000/addRestaurant') Add Restaurant
            a(href='http://localhost:3000/restaurants') Restaurants  

